h1 {
  margin: auto; 
  text-decoration: underline;
}

.brand-logo img {
  height: 100%px;
  width: 64px;
}

.point-title {
  font-size: 2rem;
}

#hero-image {
  background-image: url("/assets/images/jukebox-web.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.jukebox-background {
  background-image: url("/assets/images/blurred_backgrounds/jukebox.jpg");
  background-size: cover;
}

.vintage-concrete-background {
  background-image: url("/assets/images/vintage-concrete.png");
  background-repeat: repeat;
}

.vintage-concrete-blurred-background {
  background-image: url("/assets/images/vintage-concrete-blurred.png");
  background-repeat: repeat;
}

.icon-block {
  padding: 20px 0;
}

.pad-top-20 {
  padding: 20px 0 0 0;
}

.pad-bottom-20 {
  padding: 0 0 20px 0;
}

